* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

/* HEADER STUFF */
.headerContact {
    z-index: 200;
    display: none;
    position: fixed;
    right: 0;
    height: 108px;
    padding: 0;
}

.headerContact a {
    z-index: 201;
    background-color: #001d3d;
    height: 108px;
    border: 1px solid azure;
    border-top: 0px;
    opacity: 1;
}

.headerContact span {
    color: azure;
}

.container {
    z-index: 1000;
    margin: 0 auto;
}

.main-header-img {
    width: 100%;
    height: 108px;
    background-color: #001d3d;
}

.main-header {
    z-index: 1000;
    text-align: center;
    height: 108px;
    position: fixed;
    padding: 2em;
    width: 100%;
    /*background-image: url("https://img.freepik.com/premium-photo/abstract-art-background-bright-yellow-golden-colors-watercolor-painting-canvas-with-amber-soft-gradient-fragment-ocher-artwork-with-pattern-texture-backdrop_113767-4923.jpg?w=2000");
    */
    background-size: cover;
    background-position: center;
    background-color: #0b2545;
    opacity: 1;
    border-bottom: 1px solid black;
}

.main-header::after {
    content: "";
    display: block;
    clear: both;
}

.Home {
    padding: 0;
    margin: 0;
    top: -5%;
    padding-left: .25em;
    position: absolute;
    left: 0%;
}

.Home img {
    height: 108px;
}

.hText {
    text-align: center;
    margin: 0;
    color: azure;
}



.main-nav {
    z-index: 1000;
    z-index: 99;
    position: absolute;
    background: #8da9c4;
    top: 100%;
    right: 0%;
    -webkit-clip-path: circle(0% at top right);
    clip-path: circle(0% at top right);
    transition: -webkit-clip-path ease-in-out 500ms;
    transition: clip-path ease-in-out 500ms;
    transition: clip-path ease-in-out 500ms, -webkit-clip-path ease-in-out 500ms;
}

.main-nav-active {
    -webkit-clip-path: circle(150% at top left);
    clip-path: circle(150% at top left);
}

.main-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.main-nav a {
    text-align: center;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2em 6em;
}

.main-nav a:hover {
    background: #006466;
    color: white;
}

.main-nav a:hover .main-nav-icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: white;
}

.main-nav-icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: black;
}

.menu {
    position: absolute;
    padding-right: 0.3em;
    padding-top: .95em;
    margin: 0;
    top: 33%;
    right: 2em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: white;
    height: 3px;
    width: 1.75em;
    border-radius: 1px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.navContact ul {
    margin: 0;
}

.navContact li {
    display: grid;
}

.navContact a {
    color: black;
    display: grid;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.navContact {
    text-align: right;
}

.navContact a:hover {
    background-color: #457b9d;
    opacity: 1;
}

/* HEADER STUFF */
body {
    color: black;
}

.HomeSection1 {
    position: relative;
    width: 100%;
    height: 600px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.HomeSection1 video {
    width: 100%;
    height: 600px;
    position: absolute;
    object-fit: fill;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
}

.HomeSection1 div {
    text-align: center;
}

.HomeSection1Text {
    padding-top: 300px;
}

.HomeSection1 span {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 2vw;
    position: relative;
    display: inline-block;
    color: azure;
    padding: 10px;
    text-align: center;
    margin: 0;
    animation: waveAnim 5s infinite;
    animation-delay: calc(.15s * var(--i));
}



.HomeSection2 {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.HomeSection2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: radial-gradient(#134074, #13315c);
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
}

.HomeSection2 h1 {
    color: #eef4ed;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    background: #457b9d;
    color: #eef4ed;
    text-decoration: none;
    text-transform: capitalize;
}

.blog-section {
    color: #eef4ed;
    z-index: 99;
    width: 100%;
    padding: 50px 5vw;
    display: line;
}

.blog-image {
    width: 50%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview {
    line-height: 30px;
    margin: 10px 0 20px;
}

.HomeSection3 {
    background-color: #8da9c4;
    padding: 2em;
    text-align: center;
}

.HomeSection3 button {
    background-color: #a9d6e5;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.HomeSection3 button:hover {
    background-color: #468faf;
}

@media screen and (max-width: 650px) {
    .HomeSection1Text {
        padding-top: 250px;
    }

    .HomeSection1 span {
        font-size: 3vw;
        padding-bottom: 60px;
    }

    .hText span {
        font-size: 4vw;
    }

    .container {
        display: inline-block;
        vertical-align: middle;
    }

    .Home img {
        padding-top: .95em;
        min-width: 100px;
        min-height: 100px;
        width: 16vw;
        height: 16vw;
    }

    .Home {
        padding: 0;
        margin: 0;

        padding-left: .25em;
        position: absolute;
        left: 0%;
    }
}

@keyframes waveAnim {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-70px);
    }
}